# Standard Rust
**/target
**/*.rs.bk

# Mac
.DS_Store

# Personal patterns
_*
**/out/
out.*

# Visualizations and other debuging output
*.svg
*.png
*.gif
*.mp4
*.dot
*.txt

# Perf/Debug trace files
*.trace
